.body {
  background-image: url("login.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

#encabezado {
  background-color: #afafaf;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: right;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 500px;
  background-color: rgba(219, 214, 214, 0.8); /* Fondo borroso */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
}

.container h2 {
  text-align: center;
  margin-bottom: 80px;
}

.form-control {
  border-radius: 20px;
}

.btn-primary {
  border-radius: 20px;
  width: 100%;
  background-color: #4e4e4e;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #9ba79e;
}

.text-center {
  text-align: center;
}
